<template>
  <svg
    version="1.1"
    baseProfile="full"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:ev="http://www.w3.org/2001/xml-events"
    width="700"
    height="500"
    :viewBox="`0 ${0 - joints * 70} 700 ${500 + joints * 70}`"
  >
    <defs>
      <g id="joint" stroke-width="2" fill="none" transform="translate(350 400)">
        <circle cx="0" cy="0" r="30"></circle>
        <line x1="-30" y1="0" x2="-30" y2="-100"></line>
        <line x1="30" y1="0" x2="30" y2="-100"></line>
      </g>
    </defs>
    <g style="transform-origin: 350px 400px;">
      <arm-joint :count="joints" v-on:update="pass" />
    </g>
  </svg>
</template>
<script lang="ts">
import ArmJoint from "./ArmJoint.vue"
export default {
  components: {
    ArmJoint,
  },
  props: {
    joints: {
      type: Number,
      default: 2,
    },
  },
  setup(props, { emit }) {
    function pass(e) {
      emit("update", e)
    }
    return {
      pass,
    }
  },
}
</script>
<style>
circle {
  fill: rgba(255, 255, 255, 0);
  cursor: pointer;
}
</style>
