<template>
  <div class="input">
    <label>placeholder input control</label>
    <input disabled type="range" min="-90" max="90" value="0" />
  </div>
</template>
<script lang="ts">
export default {
  props: {
    segment: {
      type: Number,
      default: 2,
    },
  },
  setup(props) {
    let listen = `segment-${props.segment}`
  },
}
</script>
<style scoped></style>
