<template>
  <g
    ref="jaw"
    stroke="#02020e"
    :transform="`translate(350 ${400 - rootOffset * -1})`"
    @mousedown.stop="close"
    @mouseup.stop="open"
  >
    <line x1="-60" x2="60" y1="0" y2="0"></line>
    <line ref="left" x1="-50" x2="-50" y1="0" y2="-50"></line>
    <line ref="right" x1="50" x2="50" y1="0" y2="-50"></line>
  </g>
</template>
<script lang="ts">
import { ref, computed } from "vue"
export default {
  name: "arm-end",
  props: {
    count: {
      type: Number,
      default: 0,
    },
    privateSegmentIndex: {
      type: Number,
      default: 0,
    },
  },
  setup(props) {
    // this.$refs
    const jaw = ref<HTMLElement>(null)
    const left = ref<HTMLElement>(null)
    const right = ref<HTMLElement>(null)

    function close() {
      debugger
      left.value.style.transform = `translateX(${50}px)`
      right.value.style.transform = `translateX(-${50}px)`
    }
    function open() {
      left.value.style.transform = `translateX(${0}px)`
      right.value.style.transform = `translateX(-${0}px)`
    }

    let rootOffset = computed(() => {
      return props.privateSegmentIndex * -100
    })

    return {
      close,
      open,
      rootOffset,
    }
  },
}
</script>
