<template>
  <g
    ref="segment"
    :id="name"
    @click.stop="log"
    @mousedown.stop="down"
    @mousemove.stop="drag"
    stroke="orangered"
    :style="`transform-origin: 350px ${400 + rootOffset}px;`"
  >
    <use xlink:href="#joint" :y="rootOffset"></use>
    <component
      :is="node"
      :count="count - 1"
      :privateSegmentIndex="privateSegmentIndex + 1"
      v-on:update="pass"
    ></component>
  </g>
</template>
<script lang="ts">
import { ref, onMounted, onUnmounted, onBeforeUnmount, computed } from "vue"

import ArmEnd from "./ArmEnd.vue"
export default {
  name: "arm-joint",
  components: {
    ArmEnd,
  },
  props: {
    count: {
      type: Number,
      default: 0,
    },
    privateSegmentIndex: {
      type: Number,
      default: 0,
    },
  },
  setup(props, { emit }) {
    let name = ref(`segment-${props.privateSegmentIndex}`)

    // Refs
    const segment = ref<HTMLElement>(null)
    let angle = ref(0)

    // events
    let dragging = ref(false)
    function down(e) {
      dragging.value = true
    }
    function drag(e) {
      if (dragging.value) {
        angle.value += e.movementX
        segment.value.style.transform = `rotate(${angle.value}deg)`
        emit("update", {
          [name.value]: angle.value,
        })
      }
    }
    function up(e) {
      if (dragging.value) {
        dragging.value = false
      }
    }
    onMounted(() => {
      window.addEventListener("mouseup", up)
    })
    onBeforeUnmount(() => {
      window.removeEventListener("mouseup", up)
    })

    let node = computed(() => (props.count <= 1 ? "arm-end" : "arm-joint"))
    let rootOffset = computed(() => {
      return props.privateSegmentIndex * -100
    })
    function log(item) {
      console.log(`Arm: ${name.value} angle is ${angle.value}`)
    }

    function pass(e) {
      emit("update", e)
    }
    return {
      privateSegmentIndex: props.privateSegmentIndex,
      segment,
      name,
      node,
      down,
      drag,
      up,
      log,
      rootOffset,
      pass,
    }
  },
}
</script>
