<template>
  <arm :joints="armLength" v-on:update="updatedAngle" />
  <div class="">
    <label for="arm">Arm segments:</label>
    <input type="number" name="arm" min="1" max="10" v-model="armLength" />
  </div>
  <arm-control v-for="joint in armLength" :name="joint" />
</template>
<script lang="ts">
import { ref } from "vue"
import Arm from "./components/Arm.vue"
import ArmControl from "./components/ArmControl.vue"

export default {
  components: {
    Arm,
    ArmControl,
  },
  setup() {
    const armLength = ref(3)
    function updatedAngle(a) {
      console.log(a)
    }
    return {
      updatedAngle,
      armLength,
    }
  },
}
</script>
